@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body{
	text-align: center;
	background: linear-gradient(to right,lightblue,purple);
}

h1{
	font-family: 'Oswald', sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 5px;
}

.color1  {
	background: #fff;
	
}

.color2{
	background: #fff;
}